@import "include-media";
@import "normalize";
@import "theme";
@import "variables";
@import "functions";
@import "mixins";
@import "typo";
@import "animations";
@import "icons";
@import "menu";
@import "hero";
@import "search";
@import "elements";
@import "header";
@import "home";
@import "post";
@import "pagination";
@import "share";
@import "highlight";
@import "form";
@import "author";
@import "staff";
@import "modal";
@import "footer";
@import "no-js";


// _sass/main.scss

// ... (existing theme code)

// Style the dashboard container
.dashboard-container {
  max-width: 900px; /* Set a maximum width for the dashboard */
  margin: 0 auto;  /* This centers the container horizontally */
  padding: 0;   /* Optional: Add some padding for spacing */
}

/* Add custom responsive breakpoints if needed */
@media (max-width: 900px) {
  .dashboard-container {
    max-width: 100%; /* Go full width on smaller screens */
  }
}
